{
    // Web server
    "server":
    {
        "port": 9000
    },

    // Bundle list
    "bundles":
    [
        "{{solfege.bundle_dir}}/Server/ServerBundle",
        "{{solfege.bundle_dir}}/Sample/SampleBundle",
        "{{application.bundle_dir}}/Acme/HomeBundle/AcmeHomeBundle"
    ]
}